#board-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#chess-board {
    border-collapse: collapse;
    width: 400px;
    height: 400px;
}

#chess-board td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: #f0d9b5;
}

#chess-board td:nth-child(even) {
    background-color: #b58863;
}

#chess-board td[data-color="black"] {
    background-color: #769656;
}

#chess-board .piece {
    font-size: 30px;
    cursor: pointer;
}

.piece[data-color="white"] {
    color: white;
}

.piece[data-color="black"] {
    color: black;
}
